name: Deploy Server to FTP

on:
    pull_request:
        branches:
            - prod
        types: [closed]

jobs:
    ftp-deploy:
        name: Deploy Server via FTP
        runs-on: ubuntu-latest
        if: github.event.pull_request.merged == true

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 18

            - name: Install dependencies
              run: npm install

            - name: Upload via FTP
              uses: SamKirkland/FTP-Deploy-Action@v4.3.4
              with:
                  server: ${{ secrets.FTP_HOST }}
                  username: ${{ secrets.FTP_USERNAME }}
                  password: ${{ secrets.FTP_PASSWORD }}
                  local-dir: ./
                  exclude: |
                      **/.git*
                      **/.git*/**
                      **/node_modules/**
                      **/.github/**
